{% extends 'website/base.html' %}

{% block title %} Mailman | Info & Privacy {% endblock %}

{% block content %}
<nav class="navbar flex">
    <span class="navbar-brand mx-auto fugaz-font">mailman</span>
</nav>

<main role="main">
    <div class="container">
        <h2>Allgemeine Informationen & Datenschutz</h2>

        <section class="intro">
            <p>
                Mailman ist eine kostenlose App von Dario Breitenstein, die es dir erlaubt, Postkarten zu erstellen und diese
                mit deinem PostCard Creator-Account zu versenden.
            </p>

            <p>
                Auf dieser Seite findest du Informationen über wie Mailman funktioniert, welche Daten gesammelt werden, und
                welche Verantwortung du trägst, wenn du Mailman verwendest.<br>
                Die Dienste von Mailman und der dazugehörigen App sind bis auf weiteres kostenlos und sind wie angeboten zu verwenden.
            </p>

            <p>
                Wenn du dich entscheidest, die Mailman App zu verwenden, stimmst du diesen Bedingungen und der damit verbundenen
                Erhebung und Speicherung der beschriebenen Personendaten zu. Die Betreiber von Mailman werden deine Daten im besten
                Gewissen nie anders verwenden bzw. weitergeben, als wie im Folgenden beschrieben.
            </p>
        </section>

        <section class="postcard-creator">
            <h4>Verbindung zu PostCard Creator</h4>

            <p>
                Mailman druckt und versendet keine Postkarten. Damit die Postkarten, die du in der Mailman-App erstellst,
                versendet werden können, musst du dein Post CH Kundenlogin mit deinem Mailman-Account verbinden.
            </p>

            <p>
                Postcard Creator ist eine Dienstleistung der Post CH AG. Mailman ist in keiner Art Post CH AG oder
                Postcard Creator zugehörig oder angeschlossen.
            </p>

            <p>
                Mailman verwendet die Webdienstleistungen der Postcard Creator App in deinem Namen.
                Dementsprechend musst du beim Erstellen deiner Postkarten die <a href="https://www.post.ch/-/media/post/agb/agb-postcard-creator-web.pdf?sc_lang=de" target="_blank">allgemeinen Geschäftsbedingungen</a>
                der Postcard Creator App akzeptieren und einhalten.
            </p>

            <p>
                Diese beinhalten unter anderem:
                <ul>
                    <li class="font-italic">§2 “[…] Die Kundin oder der Kunde ist dafür verantwortlich, dass die Drucksachen keinen widerrechtlichen
                        oder sittenwidrigen Inhalt aufweisen.”
                    </li>
                    <li class="font-italic">§8 “[…] Die Kundinnen und Kunden gewährleisten, dass ihnen alle Immaterialgüterrechte an den der
                        Post zur Verfügung gestellten Daten zustehen bzw. dass sie über ausreichende Lizenzen verfügen.
                        Sie gewährleisten weiter, dass die gewerbliche Verwendung der Daten für den vorgesehenen Zweck
                        nach ihrem besten Wissen weder in der Schweiz noch im Ausland Rechte von Dritten
                        (inkl. Persönlichkeitsrechte) oder sonstige Vorschriften verletzt. […]<br>Die Kundinnen und
                        Kunden tragen die alleinige und uneingeschränkte Verantwortung für den Inhalt der von ihnen in
                        Auftrag gegebenen Sendungen. Die Post über nimmt für Vorlagen und Empfängeradressen, die von der
                        Kundschaft geliefert werden, ausdrücklich keinerlei Rechtsgewährleistung. Sämtliche für einen
                        Versand gespeicherten Adressen verbleiben bei der Kundschaft. Rassistische, pornografische,
                        gewaltverherrlichende oder sonst wie widerrechtliche, sittenwidrige oder anstössige Daten bzw.
                        Inhalte sind nicht zulässig.”
                    </li>
                </ul>
            </p>

            <p>
                Da Mailman die Schnittstellen von Postcard Creator ohne explizite Erlaubnis der Post CH AG verwendet,
                verstösst du ggf. mit der Verwendung der Mailman-App gegen die Geschäftsbedingungen von Postcard Creator.
                Die Betreiber von Mailman weisen jegliche Verantwortung für die unerlaubte Verwendung dieser Schnittstelle ab.
            </p>
        </section>

        <section class="personal-data">
            <h4>Speicherung von Personendaten</h4>
            <p>
                Bei der Verwendung von Mailman gibst du gewisse Daten preis, die in Verbindung zu deiner Person gestellt
                werden können. Die Benutzung dieser Daten dient einzig und allein der Bereitstellung und Verbesserung der
                angebotenen Dienste. Die gesammelten Daten werden niemals zu Werbezwecken verwendet oder an Drittanbieter weitergegeben.
            </p>
            <p>
                Die Daten, die für die Funktion von Mailman gespeichert werden, beinhalten:
                <ul>
                    <li>E-Mail</li>
                    <li>Adresse des Absenders</li>
                    <li>Adresse des Empfängers</li>
                    <li>Hochgeladene Bilder</li>
                    <li>Individuelle Geräte-ID</li>
                </ul>
            </p>
            <p>
                Wenn du Mailman nicht weiter verwenden möchtest, kannst du die Löschung deiner Daten beantragen.
                Melde dich mit deiner Email-Adresse bei uns und wir werden ohne Rückfrage deine Daten umgehend dauerhaft
                löschen.
            </p>
            <p>
                Die Mailman-App verwendet Dienste von Drittanbietern, um die Funktionalität zu gewährleisten.
                Diese sammeln ggf. Daten, die zu deiner Identifikation verwendet werden können.

                Die Datenschutzerklärung der verwendeten Drittanbietern findest du hier:
                <ul>
                    <li><a href="https://www.google.com/policies/privacy/" target="_blank">Google Play Services</a></li>
                    <li><a href="https://firebase.google.com/policies/analytics" target="_blank">Google Analytics for Firebase</a></li>
                    <li><a href="https://sentry.io/privacy/" target="_blank">Sentry</a></li>
                </ul>
            </p>
        </section>

        <section class="logs">
            <h4>Protokolldaten</h4>
            <p>
                Bei der Verwendung von Mailman und der Mailman App treten manchmal Fehler auf. Wir verwenden Dienste von
                Drittanbietern, um diese Fehler zu sammeln und zu analysieren. Um die Umstände, in denen ein Fehler aufgetreten ist,
                besser zu verstehen, werden Informationen über dein Gerät gesammelt.
                Diese Informationen beinhalten:
                <ul>
                    <li>Persönliche Benutzer-ID</li>
                    <li>Die IP-Adresse deines Geräts</li>
                    <li>Gerätename</li>
                    <li>Informationen zu deinem Betriebssystem</li>
                    <li>Die Konfiguration der Mailman-App</li>
                    <li>Der Zeitpunkt, an dem der Fehler aufgetreten ist</li>
                </ul>
            </p>
            <p>
                Diese Daten können ggf. verwendet werden, um dich persönlich zu identifizieren. Aus diesem Grund werden
                sie streng vertraulich gehandelt und nie zu Werbezwecken an Drittanbieter weitergegeben.
                Wir verwenden die gesammelten Daten nur, um die Funktionalität von Mailman zu verbessern.
            </p>
        </section>

        <section class="cookies">
            <h4>Cookies</h4>
            <p>
                Cookies sind kleine Dateien, die bei der Verwendung von Internet-Anwendungen auf deinem Gerät gespeichert
                werden. Normalerweise enthalten Sie anonymisierte eindeutige Kennungen, die verwendet werden, um dich zu
                identifizieren. Für die Funktionalität von Mailman werden keine Cookies benötigt. Allerdings kann es sein,
                dass gewisse Drittanbieterdienste Cookies verwenden, um anonymisierte Nutzungsdaten zu sammeln und ihre
                Dienste zu verbessern. Diese Dienste müssen dir jedoch die Option geben, diese Cookies zu akzeptieren oder abzulehnen.
                In jedem Fall wird deine Entscheidung keine Auswirkung auf die Funktionalität der Mailman-App haben.
            </p>
        </section>

        <section class="thirdparty">
            <h4>Drittanbieter</h4>
            <p>
                Mailman verwendet Dienste von Drittanbietern aus folgenden Gründen:
                <ul>
                    <li>Um unsere Dienste einfacher anzubieten</li>
                    <li>Zur Bereitstellung der angebotenen Dienste (z.B Post CH AG zum Versand deiner Postkarten)</li>
                    <li>Um zu verstehen, wie du unsere Dienste verwendest</li>
                </ul>

                Diese Drittanbieter erhalten ggf. Zugriff auf deine Personenbezogenen Daten. Dies passiert nur, wenn die
                Daten notwendig sind, um die jeweilige Aufgabe zu erfüllen. Sie dürfen jedoch auf keinen Fall diese Daten
                anderweitig nutzen oder weitergeben.
            </p>
        </section>

        <section class="security">
            <h4>Sicherheit deiner Daten</h4>
            <p>
                Deine Daten werden auf einem privat betriebenen Server in der Schweiz gespeichert und gelöscht,
                sobald sie für die angebotenen Dienste nicht mehr notwendig sind. Die Betreiber von Mailman handeln
                nach bestem Gewissen, um deine Daten so sicher wie möglich zu halten. Da aber weder das Internet noch
                andere Formen der elektronischen Datenspeicherung zu 100% sicher sind, können wir die absolute Sicherheit
                nicht garantieren.
            </p>
        </section>

        <section class="links">
            <h4>Links zu anderen Seiten</h4>
            <p>
                Die Mailman-App oder die Mailman-Website kann Links zu anderen Websites enthalten. Wenn du auf einen
                Link einer anderen Website klickst, wirst du zu dieser Site weitergeleitet. Bitte beachte, dass diese
                externen Sites nicht von uns betrieben werden. Darum solltest du dringend die Datenschutzrichtlinien
                dieser Websites lesen. Wir haben keine Kontrolle über und übernehmen keine Verantwortung für den Inhalt,
                die Datenschutzrichtlinien oder die Praktiken von Websites oder Diensten Dritter.
            </p>
        </section>

        <section class="childrens-privacy">
            <h4>Privatsphäre von Kindern</h4>
            <p>
                Die Dienste von Mailman richten sich nicht an Kinder unter dem Alter von 13 Jahren.
                Die Betreiber von Mailman sammeln nicht bewusst Personenbezogene Daten von Kindern.
                Falls wir herausfinden, dass ein Kind Personenbezogene Daten mit uns geteilt hat, werden wir diese
                unmittelbar löschen. Falls du die Erziehungsberechtigte Person eines Kindes bist und weisst,
                dass dieses mit den Betreibern von Mailman Personenbezogene Daten geteilt hat
                (Dies passiert bereits bei der Erstellung eines Mailman-Accounts), bitten wir dich,
                uns umgehend zu kontaktieren.
            </p>
        </section>

        <section class="changelog">
            <h4>Änderungen dieses Dokuments</h4>
            <p>
                Dieses Dokument wird ggf. von Zeit zu Zeit verändert oder ergänzt. Wir bitten dich, öfters
                hier vorbeizuschauen und dich über eventuelle Änderungen zu informieren.
                Änderungsverlauf:
                <ul>
                    <li>5.02.2022: Erste Veröffentlichung</li>
                </ul>
            </p>
        </section>

        <section class="contact">
            <h4>Kontakt</h4>
            <p>
                Falls du Fragen zu Mailman hast oder mehr darüber erfahren möchtest, wie wir deine Daten verwenden,
                kontaktiere uns unter online(at)imakethings.ch.
            </p>
        </section>
    </div> <!-- /container -->
</main>

<footer>
    <div class="container">
        <p>&copy; Dario Breitenstein {% now "Y" %}</p>
    </div>
</footer>
{% endblock %}