[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
djangorestframework = "~=3.12.0"
django-rest-auth = "~=0.9"
django-allauth = "==0.42.0"
celery = "*"
drf-yasg = "*"
mixins = "*"
redis = "*"
gunicorn = "*"
psycopg2-binary = "*"
django-celery-beat = "*"
fcm-django = "*"
beautifulsoup4 = "==4.6.0"
certifi = "==2017.4.17"
chardet = "==3.0.3"
cookies = "==2.2.1"
idna = "==2.5"
olefile = "==0.44"
pluggy = "==0.4.0"
py = "==1.4.34"
python-resize-image = "==1.1.19"
requests = "==2.25.1"
requests-toolbelt = "==0.8.0"
responses = "==0.5.1"
six = "==1.10.0"
tox = "==2.7.0"
urllib3 = "==1.24.2"
colorthief = "==0.2.1"
Django = "~=3.1.0"
Pillow = ">=7.1.0"
sentry-sdk = "*"
